name: Run examples

on:
  push:
    branches: [ main, feat/*, rc/* ]
  pull_request:
    branches: [ main, feat/*, rc/* ]


jobs:
  test:
    name: Examples
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r examples/requirements.txt
          pip3 install pytest
      - name: Run examples
        run: |
          make run-examples
